@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.font-arial {
  font-family: Arial, sans-serif;
}

.font-rubik {
  font-family: Rubik;
}
.font-helv {
  font-family: Helvetica, sans-serif;
}
