@import "../../sass/fonts";
@import "../../sass/colors";
@import "../../sass/mixins";

#team-members {
  position: relative;
  #three-dots {
    top: 5px;
    right: 20px;
  }
  h2 {
    color: $dark-blue;
    @extend .font-rubik;
    font-size: 1.1rem;
    padding-bottom: 5px;
  }
  @media (max-width: 800px) {
    grid-column: span 2;
  }
}

.team-member {
  @include d-flex(center, center);
  @extend .font-arial;
  line-height: 1.3;
  padding: 2% 0;

  img {
    @media (min-width: 800px) {
      transform: scale(0.8);
    }
  }
  > div {
    border-bottom: 1px solid $very-light-gray;
    flex: 0.9;
    padding-bottom: 3%;
    padding-left: 7px;
    .name {
      font-weight: bold;
    }
    .title {
      color: $gray;
    }
  }
}
